:root{ /*podemos usar variaveis para definir cor por exemplo, isso facilita no momento de alteração de cores do site, sendo necessário a troca em apenas um local e se aplicará para todo o documento e não sair alterando em diversas partes do site */
    --vermelho:#E50914;
    --preta:#141414;
}

* {      /*o Uso de *(asterisco) significa um reset na pagina toda, tudo que foi definido aqui fica aplicavel a todo documento */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ELEMENTOS BASE*/
body{
    color:white;
    background: var(--preta); /* a palavra VAR pega as variáveis predefinidas em ROOT */
    font-family:'Arial', Times, serif ;
}

header .container{ /*Identificando o Bloco e a classe tudo que foi alterado aqui se aplicará para este item especifico no site. */
    display: flex;     /* Propriedade flex-box determina como iremos disponibilizar os elementos em tela*/ 
    flex-direction: row; /*aplicando a direção do flex em linhas que já é default */ 
    align-items: center; /* alinhando os itens no centro*/
    justify-content: space-between;  /* alinha os itens na tela de maneira horizontal*/ 
}
header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black'; /*Definindo o tipo de fonte ou a família na qual ela percente como é o caso da fonte TIMES */ 
    font-size: 40px;
}
header nav a {
    text-decoration: none; /*retira (none) o slublinhado do link */
    color: #AAA;
    margin-right: 10px;
    
}
header nav a:hover {
    color: #fff; /* Quando o mouse passar por cima do elemento NAV o HOVER de a ficará BRANCO(#fff) */

}
/* FILME PRINCIPAL*/
.filme-principal{
    font-size: 16px;
    background:linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/capa.jpg');

    height: 400px;
    background-size: cover;

    display:flex;
    flex-direction: column; /* direção do alinhamento*/
    justify-content: center; /* segue a direção do flex direction*/
    align-items: flex-start;/*itens iniciam da esqueda da tela para a direita*/

}
.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 90px;
}
.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color: white;

    padding: 15px 30px; /* O PRIMEIRO(15)valor se refere a borda de cima  de de baixo e o SEGUNDO VALOR (30) se refere a esquerda e a direita*/
    margin-right: 15px;
    font-size: 12px;

    cursor:pointer; /*determina que o cursor do mouse mude ao apontar no botao */
    transition: .4s ease all; /*tempo de transição de animação com o Hover por exemplo */
}
.botao:hover{ /*altera a cor quando o mouse passa por cima do botão*/
    background-color: white;
    color: black;
}
.botao i{
    margin-right: 9px;
}
.container{ /*container e wrapper são envelopamentos facilitam na na hora de agrupar elementos e formatá-los de forma unica*/
    margin-left: 20px;
}
.filme-principal .container{
    width: 70%;
}

.box-filme{ /*tamanho das imagens do carousel */
    width: 100%;
    height: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
}